<script>
  import {onMount} from "svelte";
  import {scaleLinear} from "d3-scale";
  import {extent} from 'd3-array';

  // Fetch the data 
  let datapoints = [];
	onMount(async() => {
		await fetch("./data/daily_heating_cooling.json")
		.then(res => res.json())
		.then(data => datapoints = data)
	});

 // Transformed heating data 
 let transformed_heating = {};
  $:{
    datapoints.forEach((d) => {
      if (!(d.city in transformed_heating)) {
        transformed_heating[d.city] = []
      }
      transformed_heating[d.city].push(d.heating)
      })
    };
  $: console.log(transformed_heating)

// Transformed cooling data 
let transformed_cooling = {};
  $:{
    datapoints.forEach((d) => {
      if (!(d.city in transformed_cooling)) {
        transformed_cooling[d.city] = []
      }
      transformed_cooling[d.city].push(d.cooling)
      })
    };
  $: console.log(transformed_cooling)

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const boxcity = innerWidth/3;

// Scales 
  $: minmax_doyr = extent(datapoints.map((d) => d.day_of_year)) ;// max and min day of the year 
  $: minmax_dheat = extent(datapoints.map((d) => d.heating)) ;// max and min day of the year 
  $: angle = scaleLinear().domain(minmax_doyr).range([0,2*Math.PI]); // angular scale 
  $: radial = scaleLinear().domain(minmax_dheat).range([0,80]) // radial scale
  

// Create generator for thickness of the energy
let energythickness = (d) => {
		let thickness = "M";
        d.forEach((energy, energyIdx) => {
          thickness += " " + radial(energy)*Math.cos(angle(energyIdx)) + ',' + radial(energy)*Math.sin(angle(energyIdx));
		});
		return thickness;
	};

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_heating) as city,i}
    <g transform="translate({boxcity*i},0)">
      <circle cx=100 cy=100 r=80></circle>
      <text x=60 y=10 font-size=100%>{city}</text>
      <g transform="translate(100,100)">
        <path class="heating" opacity=0.9 d={energythickness(transformed_heating[city])}></path>
      </g>
    </g>
    {/each}
    {#each Object.keys(transformed_cooling) as city,i}
    <g transform="translate({boxcity*i},0)">
      <g transform="translate(100,100)">
      <path class="cooling" opacity=0.9 d={energythickness(transformed_cooling[city])}></path>
      </g>
    </g>
    {/each}
  </g>
</svg>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  circle{
    fill:white;
    stroke:black;
  }

  .cooling{fill:skyblue;}

  .heating{fill:lightcoral;}
</style>
