<script>
  import {scaleLinear} from "d3-scale";
  import {extent} from 'd3-array';
  import {onMount} from "svelte";

  // Fetch the data 
  let datapoints = [];
	onMount(async() => {
		await fetch("./data/hourly_heating_december.json")
		.then(res => res.json())
		.then(data => datapoints = data)
	});

  // Transformed data 
    let transformed_data = {};
    $:{
      datapoints.forEach((d) => {
        if (!(d.city in transformed_data)) {
          transformed_data[d.city] = {}
        }
        if (!(d.buildingtype in transformed_data[d.city])) {
          transformed_data[d.city][d.buildingtype] = []
        }
        transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
        })
      };

  // Size and margins
  const width = 600;
  const height = 450;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Getting the maximum minimum values to plot  
  const building_height = height/16 ;
  $: minmax = extent(datapoints.map((d) => d.total_heating_energy)) ;// max and min of total heating consumption
  
  // Reactive scales
  $:xScale = scaleLinear().domain([0, 744]).range([0, innerWidth]);
  $:yScale= scaleLinear().domain(minmax).range([building_height/2,0]);

  // Create generator for thickness of the lines 
  let linethickness = (d) => {
		let thickness = "M 0," + yScale(0);
        d.forEach((heat, heatIdx) => {
        thickness += " " + xScale(heatIdx) + ',' + yScale(heat)
		})
        thickness = thickness + " " + xScale(744) + ',' + yScale(0) + " " + "0," + yScale(0);
		return thickness;
	}

  // City that will appear 
  $: base_city="Baltimore";

</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_data) as base_city,i}
      {#each Object.keys(transformed_data[base_city]) as building, buildingIdx}
      <g transform = "translate(5,{(building_height*buildingIdx)+5})">
        <text font-size=50%>{building}</text>
      </g>
        <g transform="translate(0, {building_height*buildingIdx})">
          {#each transformed_data[base_city][building] as heat, heatIdx}
            <path opacity=10 d={linethickness(transformed_data[base_city][building])}></path>
          {/each}
        </g>
      {/each}
    {/each}
  </g>
</svg>

<div class= "Buttonforcity">
      <select id="cityvalue" class="form-select" bind:value={base_city}>
        <option value="Baltimore">Baltimore</option>
        <option value="Chicago">Chicago</option>
        <option value="Los Angeles">Los Angeles</option>
      </select>
</div>

<style>
  path {
    fill:black;
    }

  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
