<script>
  import {onMount} from "svelte";
  import {scaleLinear} from "d3-scale";
  import {extent} from 'd3-array';

  //Fetch the data 
  let datapoints = [];
	onMount(async() => {
		await fetch("./data/hourly_electricity_vs_gas_december.json")
		.then(res => res.json())
		.then(data => datapoints = data)
	});

  // Transformed electricity data 
  let transformed_elec = {};
      $:{
        datapoints.forEach((d) => {
          if (!(d.week in transformed_elec)) {
            transformed_elec[d.week] = []
          }
          transformed_elec[d.week].push(d.total_electricity)
          })
        };
 
  // Transformed gas data 
  let transformed_gas = {};
    $:{
      datapoints.forEach((d) => {
        if (!(d.week in transformed_gas)) {
          transformed_gas[d.week] = []
        }
        transformed_gas[d.week].push(d.total_gas)
        })
      };

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const hleaf = height/5 - 20;

  // Scales 
  $: minmax_gas = extent(datapoints.map((d) => d.total_gas)) ;// max and min gas consumptions
  $: minmax_elec = extent(datapoints.map((d) => d.total_electrity)) ;// max and min electricity consumptions 
 
  
  $: yscale_elec = scaleLinear()
		.domain(extent(minmax_elec))
		.range([hleaf/2,0]);

  $: yscale_gas = scaleLinear()
		.domain(extent(minmax_gas))
		.range([hleaf/2, hleaf])
  
  $: left_scale =  scaleLinear()
		.domain([0,7*24-1])
		.range([width/2, margin.left]);
  
  $: right_scale =  scaleLinear()
		.domain([0,7*24-1])
		.range([width/2, innerWidth]);

  // Create generator for thickness of electricity and gas consumption
  let elec_left = (d) => {
    let electrans_left = "M" + left_scale(0) + ',' + yscale_elec(0);
    d.forEach((values, index) => {
    electrans_left += " " + left_scale(index) + ',' + yscale_elec(values)
    })

    electrans_left += " " + left_scale(365) + ',' + yscale_elec(0);
    electrans_left += " " + left_scale(0) + ',' + yscale_elec(0);
  return electrans_left;
	}

  let elec_right = (d) => {
    let electrans_right = "M" + right_scale(0) + ',' + yscale_elec(0);
    d.forEach((values, index) => {
      electrans_right += " " + right_scale(index) + ',' + yscale_elec(values)
    })
    electrans_right += " " + right_scale(365) + ',' + yscale_elec(0);
    electrans_right += " " + right_scale(0) + ',' + yscale_elec(0);
  return electrans_right;
	}

  let gas_left = (d) => {
    let gastrans_left = "M" + left_scale(0) + ',' + yscale_gas(0);
    d.forEach((values, index) => {
      gastrans_left += " " + left_scale(index) + ',' + yscale_gas(values)
    })
    gastrans_left += " " + left_scale(365) + ',' + yscale_gas(0);
    gastrans_left += " " + left_scale(0) + ',' + yscale_gas(0);
  return gastrans_left;
	}

  let gas_right = (d) => {
    let gastrans_right = "M" + right_scale(0) + ',' + yscale_gas(0);
    d.forEach((values, index) => {
      gastrans_right += " " + right_scale(index) + ',' + yscale_gas(values)
    })
    gastrans_right += " " + right_scale(365) + ',' + yscale_gas(0);
    gastrans_right += " " + right_scale(0) + ',' + yscale_gas(0);
  return gastrans_right;
	}

</script>

<svg {width} {height}>

<!--Visuals for electricity consumption-->
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_elec) as weekel, weekelindex}
      <g transform = "translate(0,{weekelindex*hleaf+180})">
        {#if weekelindex % 2 == 0}
          <g transform = "rotate(-20)">
            <path class = "el_consumption" d={elec_right(transformed_elec[weekel])}> 
            </path>
          </g>
        {:else}
          <g transform = "translate(30,{-hleaf-60}) rotate(20)">
            <path class = "el_consumption" d={elec_left(transformed_elec[weekel])}> 
            </path>
          </g>
        {/if}
      </g>
    {/each}
  </g>

<!--Visuals for gas consumption-->
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformed_gas) as weekgas, weekgasindex}
    <g transform = "translate(0,{weekgasindex*hleaf+160})">
      {#if weekgasindex % 2 == 0}
          <g transform = "rotate(-20)">
              <path class = "gas_consumption" d = {gas_right(transformed_gas[weekgas])}> 
              </path>
          </g>
        {:else}
          <g transform = "translate(30,{-hleaf-60}) rotate(20)">
              <path class = "gas_consumption" d = {gas_left(transformed_gas[weekgas])}> 
              </path>
          </g>
        {/if}
      </g>
    {/each}
  </g>

<!--Create the vertical line-->
  <g class = "line" transform="translate({width/2+margin.left},0)">
    <line x1 = 0 x2 = 0 y1 = 0 y2 = {height}/>
  </g>

</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  .gas_consumption {
    fill: yellow;
    opacity: .9;
  }

  .el_consumption {
    fill: skyblue;
    opacity: .9;
  }

  line {
    stroke: black;
    stroke-width: 2;
    opacity: .8;
  }
</style>
