<script>
    const student = {
        name: 'Jennifer',
        hobbies: ['yoga',' cooking',' spending time with friends',' reading',' and listening to music']};
</script>
<p>
    My name is {student.name} and these are some of my favorite things: {student.hobbies}.
</p>





