<script>
  // Properties
  export let year=0;
  export let contall="all"
  const continents = ["europe", "asia", "americas", "africa"];
  
  let runtime = false;
  let inttime = null;
  
  function Start() {
    runtime = !runtime;
    if (runtime) {
      inttime = setInterval(() => {
        year += 1;
        if (year === 214) year = 0;
      }, 40);
    } else {
      clearInterval(inttime);
    }
  }

  function Reset() {
    year = 0;
    runtime = false;
    clearInterval(inttime);
  }

</script>

<div class="row">
  <div class= "col-2">
    <button class="btn btn-primary" on:click={Start}>
    {runtime ? "Stop": "Start"}
    </button> 
  </div>
  <div class= "col-2">
    <button class="btn btn-primary" on:click={Reset}>
    Reset
    </button>
  </div>  
  <div class= "col">
    <input type="range" 
      class="form-range"
      min="0" 
      max="214"
      bind:value={year}/>
    <p>Year: {1800 + year} </p>
  </div>
  <div class="col">
    <select id="continent" name="continentlist">
      <option selected value={contall}>{contall}</option>
      {#each continents as continent}
      <option value={continent}>{continent}</option>
      {/each}
    </select>
  </div>
</div>

