<script>
    let count = 0;

    function incrementCount() {
        count += 1;
    }
    
    function resetCount() {count=0}
</script>

<button class="btn btn-primary" on:click={incrementCount}>
    Clicked {count} {count === 1 ? 'time' : 'times'}
</button>

<button class="btn btn-danger" on:click={resetCount}>
    Reset
</button>

