<script>
  import * as d3 from 'd3'
  import { axisLeft, max, scaleLinear } from 'd3';
  import { text } from 'svelte/internal';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data = [];

  // Scale
  let xscale = d3.scaleLog()
    .domain([300, 100000])
    .range([margin.left, innerWidth]);

  let yscale = scaleLinear()
    .domain([0, 90])
    .range([innerHeight, margin.top]);

  let rscale = d3.scaleLog()
    .domain([1, 100000000])
    .range([1,10]);

  // Axis
  let xaxis = d3.axisBottom(xscale)
    .ticks(3);

  let yaxis = d3.axisLeft(yscale);

  function printXaxis(element) {
  xaxis(d3.select(element))
  }

  function printYaxis(element) {
  yaxis(d3.select(element))
  }

  let tableau = d3.scaleOrdinal(d3.schemeTableau10);

</script>

<svg width = {width} height = {height} viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g class = "cirlces" transform="translate({margin.left}, {margin.top})">
    {#each data as points, i}
      {#if points.income & points.life_exp}
       <circle cx={xscale(+points.income)}
                cy={yscale(+points.life_exp)}
                r= {rscale(points.population)}
                style={"fill:" + tableau(points.continent)} />
      {/if}
  {/each}
    <g use:printXaxis transform = "translate(0,{innerHeight})"> 
      <text x = 50% y = 30 class = "xaxis" > GDP per Capita </text>
      <text x = {xscale(40000)} y = -15 class = "date" > 1800 </text>
    </g>
    <g use:printYaxis transform = "translate({margin.left},0)" >
      <text x= -120 y = -30 class = "yaxis"> Life Expectancy </text> 
    </g>
    <g class = "title"> 
      <text x = "20%" y = {yscale(90)}> Gapminder Scatterplot </text> 
    </g>
  </g>
</svg>

<style>
  circle {
    opacity: 0.90;
  }
  .xaxis {
    font-family: Georgia, 'Times New Roman', Times, serif;
    stroke: black;
    fill: black;
    opacity: .9;
    font-size: 15px;
  }

  .yaxis {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    fill: black;
    opacity: .9;
    font-size: 15px;   
  }
  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 45px bold;
    stroke: black;
    fill: black;
    opacity: .9;
  }
  
  .date {
    font-family: Georgia, 'Times New Roman', Times, serif;
    stroke: black;
    fill: black;
    opacity: .5;
    font-size: 40px;
  }

</style>
