<script>
  import {scaleLinear} from 'd3-scale'
  import {scaleOrdinal} from 'd3-scale'
  import {schemeDark2} from 'd3-scale-chromatic'

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scale 
  let x_scale = scaleLinear()
    .domain([0, 10])
    .range([0,innerWidth]);
  let y_scale = scaleLinear()
    .domain([0,4])
    .range([innerHeight,0])
  let scaleColour = scaleOrdinal(schemeDark2);

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as value}
    <circle 
      cx={x_scale(value.x)}
      cy = {y_scale(value.y)}
      r = 5
      style={"fill:" + scaleColour(value.category)}/>
    {/each}
    {#each values as coordinates}
      <text 
        x={x_scale(coordinates.x)} 
        y={y_scale(coordinates.y)-10} 
        class="valueLabel">{coordinates.y}
      </text>
    {/each}
    <line 
      x1="0" 
      x2="{innerWidth}" 
      y1="75" 
      y2="75">
    </line>
    {#each values as startingpoint}
      <line 
        x1="{x_scale(startingpoint.x)}" 
        x2="{x_scale(startingpoint.x)}" 
        y1="{y_scale(startingpoint.y)+5}" 
        y2="75">
      </line>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }

  line
  {fill:none; 
  stroke:black;
  }
</style>
