<script>
  import * as d3 from 'd3';
  import { max, min, scaleBand, scaleLinear } from 'd3';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const xTicks =["Netflix","Amazon Prime Video","Disney+","Hulu","Apple TV","Rakuten"];
  const yTicks = [2.9,1.3,2.1,0.9,1.1,0.4]

  // Scale 
  let barWidth = innerWidth / xTicks.length;

  let xscale = scaleBand()
    .domain(xTicks)
    .range([margin.left, innerWidth]);

  let yscale = scaleLinear()
    .domain([0, Math.max.apply(null, yTicks)])
    .range([innerHeight , margin.top]);

  //Axis
  let xaxis = d3.axisBottom(xscale)

  let yaxis = d3.axisLeft(yscale)

  function printXAxis(element) {
  xaxis(d3.select(element))
  }

  function printYAxis(element) {
  yaxis(d3.select(element))
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px" >
  <g class='bars'>
    {#each data as point, i}
      <rect
        x="{xscale(point.service)}"
        y="{yscale(point.viewers)}"
        width="{barWidth-20}"
        height="{yscale(0) - yscale(point.viewers)}"
      ></rect>
    {/each}
    <g use:printXAxis class = "xaxis" transform = "translate(0,{innerHeight})"> 
    </g>
  </g>
  <g use:printYAxis class = "yaxis" transform = "translate({margin.left},0)">
    <text x=-90 y = -30 class=titleaxis> Viewers(Millions) </text> 
  </g>
</svg>

<style>

  .bars rect {
		fill: steelblue;
	}
  .titleaxis{
    transform: rotate(-90deg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    stroke: black;
    fill: black;
    opacity: .9;
    font-size: 12px;
  }

</style>
  
