<script>
    import Scatterplot from "./_ex_7_scatterplot.svelte"
    import { onMount } from 'svelte';
    import { json } from "d3-fetch";

    let Df = null;

    onMount(async () => {
    Df = await json('/data/gapminder.json');
    });

</script>

<div>
    {#if Df == null}
        <p>The data is being loaded</p>
    {:else}
        <Scatterplot data={Df[0].countries}/>
    {/if}
</div>